$font-path: "../assets/fonts/";
@use 'sass:math';

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

// $text-color-light: blue;
// $text-color-dark: blue;

@import "./variables.scss";
@import "./keyframes.scss";
@import "./additions.scss";
@import "./mixins.scss";
@import "./theme-toggle.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: $bg-color;
  // color: $text-color;
  font-family: "Bitter", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  // matches data-theme="light" or data-theme="auto" with system instructing light mode
  @include light {
    background-color: $light-theme-bg-color;
    color: $light-theme-text-color;
  }
  
  // matches data-theme="dark" or data-theme="auto" with system instructing dark mode
  @include dark {
    background-color: $dark-theme-bg-color;
    color: $dark-theme-text-color;
  }
}

.ul {
  list-style: none;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
 padding-left: $container-padding-left;
 padding-right: $container-padding-right;
}

.header {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  height: $header-height;

  &__theme-switcher {
    height: 100%;
  }
}

.theme-switch-block {
  display: flex;
  column-gap: 10px;

  width: 180px;
  
  &__btn {
    padding: 5px;
    height: 100%;
    width: 50%;
    

    &_light {
      position: relative;
      background-color: $light-theme-btn-color;
      // border: 1px solid #d9dbb4;
      transition-duration: 600ms;
      transition-timing-function: ease-in-out;

      @include border-animation2($light-theme-btn-border-color, 3px);

      &:hover {
        background-color: $light-theme-btn-color-hover;
      }
    }

    &_dark {
      background-color: $dark-theme-btn-color;
      transition-duration: 600ms;
      transition-timing-function: ease-in-out;

      @include border-animation2($dark-theme-btn-border-color, 3px);

      &:hover {        
        background-color: $dark-theme-btn-color-hover;
      }
    }
  }

  &__img {
    display: inline-block;
    object-fit: contain;
    height: 100%;
  }
}


.section {
  height: $section-height;
  width: 100%;

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.anchor {
  cursor: pointer;

  &_main {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
}

.main-nav {
  // padding: 20px;
  
  &__ul {
    // display: grid;
    // grid-template-columns: 1fr;
    // row-gap: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__li {
    text-align: center;
  }
}

.anchor {
  &_main {
    display: inline-block;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.static-portfolio-anchor {
  &__letter {
    display: inline-block;

    &_animation {      
      animation: bluringEnter;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.180, 0.635, 0.765, 0.985);
    }
  }
}

.animated-portfolio-anchor {
  &__letter {
    display: inline-block;

    &_animation {      
      animation: bluringEnter; //appearingFromRightEnter;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.450, 0.535, 0.080, 1.000); //cubic-bezier(0.530, 0.900, 0.870, 1.000);
    }
  }
}


.footer {
  // display: grid;
  // grid-template-columns: 1fr;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: translateY(-100%); 

  &__info {    
    text-align: center;
  }
}



