$font-path: "../assets/fonts/";
@use 'sass:math';

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url($font-path + "Bitter-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

// $text-color-light: blue;
// $text-color-dark: blue;

@import "./variables.scss";
@import "./keyframes.scss";
@import "./additions.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: "Bitter", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.ul {
  list-style: none;
}

.btn {
  border: none;
  background-color: transparent;
}

.header {
  height: $header-height;

  &__theme-switcher {
    height: 100%;
  }
}

.theme-switch-block {
  width: 8%;

  &__btn {
    padding: 5px;
    height: 100%;
    width: calc(50% - 20px);

    &_light {
      background-color: $light-theme-btn-color;
    }

    &_dark {
      background-color: $dark-theme-btn-color;
    }
  }

  &__img {
    display: inline-block;
    object-fit: contain;
    height: 100%;
  }
}


.section {
  height: $section-height;
  width: 100vw;

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.anchor {
  cursor: pointer;

  &_main {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
}

.main-nav {
  padding: 20px;
  
  &__ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  &__li {
    text-align: center;
  }
}

.static-portfolio {
  &__letter {
    display: inline-block;

    &_animation {      
      animation: bluringEnter;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.180, 0.635, 0.765, 0.985);
    }
  }
}

.animated-portfolio {
  &__letter {
    display: inline-block;

    &_animation {      
      animation: bluringEnter; //appearingFromRightEnter;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.450, 0.535, 0.080, 1.000); //cubic-bezier(0.530, 0.900, 0.870, 1.000);
    }
  }
}


.footer {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: translateY(-100%); 

  &__info {    
    text-align: center;
  }
}



