$dark-theme:false !default;
$bg-color: #f3f4ef !default;
$text-color: #1a1e1f !default;
$text-hover-color: #456945!default;
$dark-theme-btn-color: #1a1e1f ;
$light-theme-btn-color: rgba(158, 199, 209, 0.1);

@if $dark-theme {
  $bg-color: #1a1e1f;
  $text-color: #f3f4ef;
}

$header-height: 3vh;
$footer-padding: 15px;
$section-height: calc(100vh - $header-height - $footer-padding*2 - 1rem*1.5);
